body {
    background-color: #5b5555;
}

.timer-box {
    margin: 15% 30%;
    background-color: gray;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border: 2px groove #885c5c;
    background-color: #494752;
    min-width: 500px;
    max-width: 600px;
    color: white;
}

.timer-length-item {
    align-items: baseline;
    justify-content: center;
    min-width: 200px;
    cursor: default;
}

.timer-length-item-label {
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 21px;
}

.timer-length-item-switcher {
    align-items: center;
    justify-content: center;
    min-width: 200px;
}

.timer-length-item-switcher p {
    min-width: 40px;
    max-width: 40px;
    font-size: 22px;
    margin: 0;
    height: 100%;
    text-align: center;
}

.timer-length-item-switcher button {
    width: 40px;
    height: 40px;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.timer-buttons {
    justify-content: space-between;
    margin-top: 4px;
    width: 25% !important;
}

#timer-label {
    font-size: 25px;
}

#time-left {
    font-size: 25px;
}

#timer-label, #time-left {
    margin: 0;
    width: 100%;
    text-align: center;
    cursor: default;
}

.red {
    color: red;
}

.gray .fa {
    color: #bdbdbd;
}

.bold {
    font-weight: bold;
}

.fa {
    color: white;
}

.none-click {
    cursor: not-allowed;
}

/* -------------- */

.vertical {
    height: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

.horizontal {
    width: 100%;
    display: flex;
    box-sizing: border-box;
}
